<!DOCTYPE html>
<html>
  <head>
    <title>sub-email form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>sub-email form</h1>
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="user name">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="cpassword" placeholder="conform password">
      <input type="password" name="apassword" placeholder="conform password">
      <button>Submit</button>
      <button><a href="/login">log</a></button>
    </form>
  </body>
</html>
